@import "tailwindcss";

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.nav_item {
  @apply m-auto text-lg cursor-pointer hover:opacity-80;
}

.on_this_section {
  @apply text-cyan-400 border-b-2 border-cyan-400 transition-all;
}
